
<!--Footer-->
<footer class="page-footer font-small  pt-4 mt-4" style="background-color: #009332">

    <div class="container text-center text-md-left">
        <div class="row my-4">

            <div class="col-md-4 col-lg-4">
                <h5 class="text-uppercase mb-4 font-weight-bold">Cuentas Corrientes</h5>
                <img src="content/img/CUENTA0001.jpg">
            </div>

            <hr class="clearfix w-100 d-md-none">

            <div class="col-md-2 col-lg-2 ml-auto">
                <h5 class="text-uppercase mb-4 font-weight-bold">Enlaces de Interés</h5>
                <ul class="list-unstyled">
                    <span>
                        <a href="#!">Consejo Directivo</a>
                    </span>
                    <span>
                        <a href="#!">Past Decanos</a>
                    </span>
                    <span>
                        <a href="#!">Estatuto Vigente</a>
                    </span>
                </ul>
            </div>

            <hr class="clearfix w-100 d-md-none">

            <div class="col-md-4 col-lg-3">
                <h5 class="text-uppercase mb-4 font-weight-bold">Contacto</h5>
                <p><i class="fa fa-phone mr-3"></i> RPM: 972641233</p>

                <p><i class="fa fa-phone mr-3"></i> RPC: 9971613478</p>
                <p><i class="fa fa-envelope mr-3"></i> ccpmdd@gmail.com</p>
                <p><i class="fa fa-home mr-3"></i> JR. JAIME TRONCOSO NRO. 778 - MADRE DE DIOS2, US</p>
            </div>

            <hr class="clearfix w-100 d-md-none">

            <div class="col-md-2 col-lg-2">
                <h5 class="text-uppercase mb-4 font-weight-bold">Siganos en </h5>
                <div class="mt-2 d-flex flex-wrap mx-auto">
                    <a type="button" class="btn-floating btn-small btn-fb d-flex align-items-center">
                        <i class="fab fa-facebook d-flex mx-auto h5 mt-2" ></i>
                    </a>
                    <a type="button" class="btn-floating btn-small btn-tw d-flex  align-items-center">
                        <i class="fab fa-twitter d-flex mx-auto h5 mt-2"></i>
                    </a>
                    <a type="button" class="btn-floating btn-small btn-dribbble d-flex align-items-center">
                        <i class="fab fa-google-plus d-flex mx-auto h5 mt-2"></i>
                    </a>
                    <a type="button" class="btn-floating btn-small btn-gplus d-flex align-items-center">
                        <i class="fab fa-youtube d-flex mx-auto h5 mt-2"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="footer-copyright py-3 text-center">
        COLEGIO DE CONTADORES DE MADRE DE DIOS    </div>

</footer>
                 
   