<div class="row">
    <div class="col-md-12 small-box-shadow" >
        <rt-widget-header title="SEMINARIOS" bg="background-head-orange"></rt-widget-header>                
<div class="col-md-10 d-flex mx-auto">

<table class="table table-sm table-bordered">
    <tbody>
        <tr>
            <td>APLICACIÓN Y ELABORACIÓN DE PAPELES DE TRABAJO EN LA AUDITORIA FINANCIERA</td>
           
            <td><a class="deep-orange-text" href="public/docs/seminarios/material_auditoria_financiera.rar">Descargar</a></td>
            <td>30 de Enero 2016</td>
        </tr>
        <tr>
            <td>CIERRE CONTABLE Y TRIBUTARIO IMPUESTO A LA RENTA 2015 - PDT 702</td>
           
            <td><a class="deep-orange-text" href="public/docs/seminarios/cierre_contable_20-02-16.pptx">Descargar</a></td>
            <td>20 de Febrero 2016</td>
        </tr>
        <tr>
            <td>LIBROS Y REGISTROS ELECTRÓNICOS SLE - PLE VERSIÓN 5.0</td>
           
            <td><a class="deep-orange-text" href="public/docs/seminarios/libros_electronicos_19-03-2016.pptx">Descargar</a></td>
            <td>19 de Marzo 2016</td>
        </tr>
        <tr>
            <td>FACTURACIÓN Y LIBROS ELECTRÓNICOS</td>
           
            <td><a class="deep-orange-text" href="public/docs/seminarios/facturacion_electronica_03-09-2016.rar">Descargar</a></td>
            <td>03 de Setiembre 2016</td>
        </tr>

        <tr>
            <td>LIBROS ELECTRÓNICOS</td>
           
            <td><a class="deep-orange-text" href="public/docs/seminarios/Libros y comprobantes electronicos.zip">Descargar</a></td>
            <td>31 Enero 2015</td>
        </tr>


        <tr>
            <td>LIBROS Y COMPROBANTES ELECTRÓNICOS</td>
         
            <td><a class="deep-orange-text" href="public/docs/seminarios/Libros y comprobantes electronicos.zip">Descargar</a></td>
            <td>31 Enero 2015</td>
        </tr>

        <tr>
            <td>CIERRE CONTABLE TRIBUTARIO 2014</td>
          
            <td><a class="deep-orange-text" href="public/docs/seminarios/Cierre contable tributario.zip">Descargar</a></td>
            <td>28 Febrero 2015</td>
        </tr>

         <tr>
            <td>AUDITORIA DE ESTADOS FINANCIEROS</td>
           
            <td><a class="deep-orange-text" href="public/docs/seminarios/Auditoria de estados financieros.zip">Descargar</a></td>
            <td>11 Abril 2015</td>
        </tr>




        <tr>
            <td>EL NUEVO SISTEMA ELECTRONICO DE CONTRATACIONES DEL ESTADO</td>
    
            <td><a class="deep-orange-text" href="public/docs/seminarios/EL NUEVO SISTEMA ELECTRONICO DE CONTRATACIONES DEL ESTADO.rar">Descargar</a></td>
            <td>30 de Mayo del 2015</td>
        </tr>

        <tr>
            <td>COSTOS MINEROS</td>
        
            <td><a class="deep-orange-text" href="public/docs/seminarios/COSTOS MINEROS.rar">Descargar</a></td>
            <td style="min-width:50px">20 de Junio 2015</td>
        </tr>

        <tr>
            <td>ADOPCIÓN POR PRIMERA VEZ  DE LAS NIIF</td>
          
            <td><a class="deep-orange-text" href="public/docs/seminarios/Adopción por primera vez de las NIIF.rar">Descargar</a></td>
            <td>16 de Mayo 2015</td>
        </tr>

        <tr>
            <td>LAS NIIF’s EN BOLIVIA Y SU RELACIÓN CON EL PERÚ</td>
        
            <td><a class="deep-orange-text" href="public/docs/seminarios/01 LAS NIIF’s EN BOLIVIA Y SU RELACIÓN CON EL PERU.rar">Descargar</a></td>
            <td>09 y 10 de Setiembre 2015</td>
        </tr>

        <tr>
            <td>MATERIAL DE ACTIVOS Y PASIVOS FINANCIEROS</td>
            
            <td><a class="deep-orange-text" href="public/docs/seminarios/Material de Activos y pasivos financieros CCP MD.rar">Descargar</a></td>
            <td>09 y 10 de Setiembre 2015</td>
        </tr>

        <tr>
            <td>COMPROBANTES DE PAGO Y LIBROS ELECTRÓNICOS</td>
        
            <td><a class="deep-orange-text" href="public/docs/seminarios/Facturas Electronicas 10.10.2015.rar">Descargar</a></td>
            <td>10 Octubre 2015</td>
        </tr>

     </tbody>
</table>  
</div>       
    </div>  
</div>

