
    <div class="container-fluid bg-header box-shadow fixed-top heavy-rain-gradient">
        <div class="container bg-header" >
            <div class="row border-bottom">
                <div class="col-md-2 d-sm-none d-md-block d-none p-0" >
                    <small class="m-0 text-white">{{vm.fecha | date:'EEEE, dd MMM yyyy'}}</small>
                </div>
                <div class="col-md-6 d-sm-none d-md-block d-none" >
                    <ul class="top-header-menu ">
                        <!-- <li class="menu-item">
                            <a ui-sref="Login.usuario"><small>Login</small></a>
                        </li> -->
                    </ul>
                </div>
                <div class="col-md-4 d-sm-none d-md-block d-none p-0" >
                    <ul class="top-header-icons" style="float: right;">
                        <li>
                            <span class="td-social-icon-wrap">
                                <a target="_blank" href="https://www.facebook.com/cipcn" title="Facebook">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </span>
                        </li>
                        <li>
                            <span class="td-social-icon-wrap">
                                <a target="_blank" href="https://twitter.com/CIP_CN" title="Google+">
                                    <i class="fab fa-twitter"></i>
                                </a>
                            </span>
                        </li>
                        <li>
                            <span class="td-social-icon-wrap">
                                <a target="_blank" href="https://vimeo.com/cipcn" title="Instagram">
                                  <i class="fab fa-vimeo-v"></i>
                                </a>
                            </span>
                        </li>
                        <li>
                            <span class="td-social-icon-wrap">
                                <a target="_blank" href="https://www.youtube.com/user/CIPCN" title="Twitter">
                                  <i class="fab fa-youtube"></i> 
                                </a>
                            </span>   
                        </li>
                    </ul>
                </div>            
            </div>
            <div class="row top-middle">
                <div class="col-md-10 col-sm-8 col-8 p-0" >
                    <div class="titulo m-0">
                        <span class="h5" style="color: #f6f358">COLEGIO DE INGENIEROS DEL PERU - CONSEJO DEPARTAMENTAL DE MADRE DE DIOS</span>
                    </div>
                </div>
                <div class="col-md-2 col-sm-4 col-4">
                    <div id="logo">
                        <img src="content/img/logo_cip.png" class="rounded-circle" alt="Responsive image">   
                    </div>
                </div>
            </div>
        </div>
        <div class="container" id="menu" >
                <div class="row p-0">
                    <div class="col-md-10 p-0">
                        <ng-include src="'app/layout/sidebar.html'"></ng-include>
                    </div>
                </div>            
        </div>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container-fluid" style="background: #f1f8e9">
        <div class="container">
            <div ui-view></div> 
            <br>
            <div class="col-lg-12">
        <slick class="slider single-item" settings="slickConfig3" focus-on-select="true" current-index="index">
          <div ng-repeat="a in vm.enlaces" class="col-md-12">
            <div class="wrimagecard wrimagecard-topimage">
              <a href="">
                <div class="wrimagecard-topimage_header" style="background-color: rgba(119, 178, 88, 0.1);height: 50px;">
                  <center>
                    <img src="imagenes/enlace/{{a.enlace}}" class="img-responsive" style="width: 100%; height: 50px">
                  </center>
                </div>
              </a>
            </div>
          </div>
        </slick>         
    </div>   
    </div>
</div>
<ng-include src="'app/layout/bottom.html'"></ng-include>
