<div class="row">
    <div class="col-md-12 small-box-shadow" >
        <rt-widget-header title="CONSEJO DIRECTIVO DEL COLEGIO DE INGENIEROS DE MADRE DE DIOS" bg="background-head-orange"></rt-widget-header>               

<div class="col-md-10 d-flex mx-auto">
    <table class="table table-bordered table-striped table-sm">
        <tbody>
            <tr >
                <th scope="row">Decano Departamental</th>
                <td>MANUEL DIAZ PAREDES</td>
            </tr>
            <tr>
                <th scope="row">Vicedecano Departamental</th>
                <td>WILLIAM ARMANDO MORENO DUEÑAS</td>
            </tr>
            <tr>
                <th scope="row">Directora Secretaria</th>
                <td>KARIN MELINA CISNEROS SANTOS</td>
            </tr>
            <tr>
                <th scope="row">DIRECTOR SECRETARIO</th>
                <td>JOSÉ ANTONIO PAZ RUBIO</td>
            </tr>
            <tr>
                <th scope="row">Director Pro Secretario</th>
                <td>CPCC. Cipriano Chaccacanta Estrada</td>
            </tr>
            <tr>
                <th scope="row">Directora Tesorera</th>
                <td>ROSA MENESES VICENCIO</td>
            </tr>
            <tr>
                <th scope="row">Directora Pro Tesorera</th>
                <td>MARIA ISABEL CAJO PINCHE</td>
            </tr>
        </tbody>

    </table>    
</div>       
    </div>  
</div>


