


<div class="row">
    <div class="col-md-3 small-box-shadow">
        <rt-widget-header title="BUSCAR" bg="background-head-orange"></rt-widget-header>               
        <form class="w3-container w3-card-4">
		  <p>      
		  <label class="w3-text-green"><b>Nro. de Registro</b></label>
		  <input class="w3-input w3-border" ng-disabled="vm.colegiado" name="matricula" ng-model="vm.datos.matricula" type="text"></p>
		  <p>      
		  <label class="w3-text-green"><b>Apellido Paterno</b></label>
		  <input class="w3-input w3-border" ng-disabled="vm.colegiado" name="APELLIDOS_p" ng-model="vm.datos.ap_Paterno" type="text"></p>
		  <p>      
		  <label class="w3-text-green"><b>Apellido Materno</b></label>
		  <input class="w3-input w3-border" ng-disabled="vm.colegiado" name="APELLIDOS_m" ng-model="vm.datos.ap_Materno" type="text"></p>
		  <p>      
		  <label class="w3-text-green"><b>Nombre (s)</b></label>
		  <input class="w3-input w3-border" ng-disabled="vm.colegiado" name="nombre" ng-model="vm.datos.nombre" type="text"></p>
		  <p>      
		  <button class="w3-btn w3-green" ng-disabled="vm.colegiado" ng-click="vm.buscar()">Buscar</button> <button ng-if="vm.colegiado" class="w3-btn w3-green" ng-click="vm.limpiar()">Clear</button></p>
		</form>
    </div>
    <div class="col-md-9 small-box-shadow">
        <rt-widget-header title="MIEMBRO COLEGIADO" bg="background-head-orange"></rt-widget-header>               
        <div class="row">
			<div class="col-md-12">
				<table class="table table-sm  table-bordered">
				    <thead class="danger-color-dark">
				        <tr class="text-white">
				            <!-- <th><small>N°</small></th> -->
				            <th></th>
				            <th><small>NRO. DE REGISTRO</small></th>
				            <th><small>APELLIDOS y NOMBRE(S)</small></th>
				            <th><small>FECHA DE NAC.</small></th>
				            <th><small>INCORPORACIÓN</small></th>
				            <th><small>ESTADO</small></th>
				            <th><small>VIGENCIA HASTA</small></th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr ng-if="vm.colegiado">
				            <!-- <th scope="row">1</th> -->
				            <td>CIP</td>
				            <td>{{vm.colegiado.matricula}}</td>
				            <td>{{vm.colegiado.ap_Paterno}} {{vm.colegiado.ap_Materno}} {{vm.colegiado.nombre}}</td>
				            <td>{{vm.colegiado.fecha_Nac | date: 'd MMMM'}}</td>
				            <td>{{vm.colegiado.incorporacion | date:'dd/MM/yy'}}</td>
				            <td>{{vm.colegiado.estado}}</td>
				            <td>{{vm.colegiado.vigencia | date:'MM - yyyy'}}</td>
				        </tr>
				    </tbody>
				</table>
			</div>
		</div>
    </div>
</div>
