    * {
        padding:0;
        margin:0;
    }
    *,label,p,div{font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;}
    html,body{
      height: 100%;
    }
    body::-webkit-scrollbar {
        width: 7px;
        background-color: rgb(0,0,0,0);
    }
    body::-webkit-scrollbar-track {
        -webkit-box-shadow: inset rgb(0,0,0,0);
    }
    body::-webkit-scrollbar-thumb {
        background-color: #bd2130;
    }
    .configBody::-webkit-scrollbar {
        width: 7px;
        background-color: white;
    }
    .configBody::-webkit-scrollbar-track {
        -webkit-box-shadow: white;
    }
    .configBody::-webkit-scrollbar-thumb {
        background-color: #34495E;
        outline: 1px solid red;
    }

    #logo img {
      position: absolute;
      display: block;
      z-index: 100;
    }
    img {
      height: auto;
      max-width: 100%;
      vertical-align: middle;
      border: 0;
      -ms-interpolation-mode: bicubic;
    }
    .box-shadow{
      background-color: #bd2130;
      box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
      border-top: 0;
    }
    .small-box-shadow{
        box-shadow: 0 1px 4px rgba(5, 61, 95, 0.5);
        background: #fff;
        border-radius: 2px;
    }
    .social {
        display:none;
    }
    .font{
        font: small-caps 10%/200% serif; 
        font-size: 25px;
        font-weight: bold;
    }

    #left {
        float:left;
        padding-bottom: 80px;
        padding-top: 10px;
      }
    #left h1 {
        display: block;
        font-weight: bold;
        font-size: 20px;
        border-bottom: 1px dotted #CCC;
        padding: 20px 0px 10px 0px;
        margin-bottom:10px;
        line-height: 28px;
    }
/* --------------------INICIO top header menu------------*/
    .top-header-menu {
      list-style: none;
      margin: 0;
      padding: 0;
    }
    .top-header-menu li {
      display: inline-block;
      position: relative;
      margin-left: 0;
    }
    .top-header-menu li a {
      margin-right: 16px;
      line-height: 1;
      color: #fff;
    }
    .top-header-menu li a:hover {
      color: #ffbb33;
    }
/* --------------------FIN top header menu------------*/

/* --------------------INICIO top header icons------------*/
    .top-header-icons{
        list-style: none;
        margin: 0;
        padding: 0;
    }
    .top-header-icons li {
        display: inline-block;
        padding: 0 10px;
        margin: 0;
    }
    .top-header-icons li a{
        color: #fff;
        text-decoration: none;
    }
    .top-header-icons li a:hover {
      color: #ffbb33;
    }
/* --------------------FIN top header icons------------*/

/* --------------------INICIO top bottom menu------------*/
    .top-bottom-menu ul {
        list-style:none;
        margin-bottom: 0px;
    }
   .top-bottom-menu ul li {
        display:inline-block;
        position: relative;
        float: left;
    }
    .top-bottom-menu li ul {
        display: none;
    }
    .top-bottom-menu li a{
        display: block;
        text-decoration:none;
    }
   .top-bottom-menu > ul > li {
        border-bottom: 5px solid #bd2130;
    }
    .top-bottom-menu > ul > li:hover {
        border-bottom: 5px solid #fff;
    }
    .top-bottom-menu > ul > li > a {
        padding: 15px;
    }
    .top-bottom-menu > ul > li > ul > li > a {
        padding: 10px;
        display:block;
    }
    .top-bottom-menu ul li:hover .children {
        display:block;
        position: absolute;
    }
    .top-bottom-menu ul li .children {
        margin-top: 5px;
        width: 150%;
        z-index:101;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    }
    .top-bottom-menu ul li .children li{
        width: 100%;
        border-bottom: 1px solid #fff;
        background-color: #ffbb33;
    }
    .top-bottom-menu ul li .children li:hover{
        background-color: #FF8800;
    }
    .top-bottom-menu ul li .children li a {
        display: block;
        color: #fff;
        font-weight: bold;
        font-family: Calibri;
    }
    .top-bottom-menu ul li .children li a span {
        float: right;
        position: relative;
        top:3px;
        margin-right:0;
        margin-left:10px;
    }
    .top-bottom-menu .children .subChildren  {
        position: absolute;
        left: 100%;
        top: 0;
         width: 100%;
        background: #fff;
        box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.5);
    }
    .top-bottom-menu ul ul > li > a{
        padding: 5px;
    }
    .top-bottom-menu ul li .children li:hover .subChildren{
        display: block;
    }
    .top-bottom-menu ul li .caret {
        position: relative;
        top:3px;
        margin-left:10px;
        margin-right:0px;
    }
/* --------------------FIN top bottom menu------------*/
    @media (max-width: 768px) {
        #logo img {
          position: relative;
        }
        .top-middle{
            display: flex;
        }
    }

/* --------------------INICIO top bottom menu (max-width: 768px)------------*/
    @media screen and (max-width: 768px) {
        .top-bottom-menu {
            width: 80%;
            position: fixed;
            z-index: 100;
            display: flex;
            right:91.7%;
            margin: 0;
        }
        .top-bottom-menu > ul {
            width: 90%;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
            background: #fff;
        }
        .top-bottom-menu > .social {
            width: 10%;
            text-align: center;
            display: block;
        }
        .top-bottom-menu > .social .menu-bar{
            padding: 10px;
            background: #2BBBAD;
            display: flex;
            align-items: center;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
        }
        .top-bottom-menu > .social .menu-bar .bt-menu{
            color: #fff;
            text-decoration: none;
        }
        .top-bottom-menu > ul > li {
            width: 100%;
        }

        .top-bottom-menu > ul > li:hover .children {
            display: none;
            position: relative;
        }
        .top-bottom-menu ul li .children li:hover .subChildren{
            display: none;
        }
        .top-bottom-menu ul li .children li .subChildren {
            width: 100%;
            position: relative;
            left: 0;
        }
        .top-bottom-menu ul li .children {
            width: 100%;
        }
        .top-bottom-menu .children .subChildren{
            width: 100%;
        }
        .top-bottom-menu .children .subChildren li a{
            width: 100%;
        }
        .top-bottom-menu ul li ul li{
            padding-left: 20px; 
        }

        .top-bottom-menu ul li svg {
            float: right;
        }
    }
/* --------------------FIN top bottom menu (max-width: 768px)------------*/

    @media screen and (max-width: 544px) {
        .font{
            font-size: 20px;
            text-shadow: 5px 5px 5px #aaa;   
            color:#fff;     
        }
        #logo {
          width: 100%;
          height: 80%;
        }
        #logo img {
          width: 100%;
          height: 100%;
        }
        .bg-header  {
           background-image: linear-gradient(120deg, #009688c4 0%, #8BC34A 100%);
        }
        .top-bottom-menu > .social .menu-bar a svg{
            font-size: 16px;
        }
        .top-bottom-menu > ul > li {
            font-weight: bold;
        }
        .top-bottom-menu > ul > li > a {
        }
    }


/* --------------------INICIO listas ol con efectos ------------*/
    .lista-ol, .lista-ol-img {
        counter-reset: li; 
        list-style: none; 
        list-style: decimal; 
        font: 15px 'trebuchet MS', 'lucida sans';
        padding: 0;
        margin-bottom: 4em;
        text-shadow: 0 1px 0 rgba(255,255,255,.5);
    }
    .lista-ol ol, .lista-ol-img ol {
        margin: 0 0 0 2em; 
    }
    .lista-ol li, .lista-ol-img li{
        position: relative;
        display: block;
        padding: .4em .4em .4em .8em;
        *padding: .4em;
        margin: .5em 0 .5em 3em;
        color: #444;
        text-decoration: none;
        transition: all .3s ease-out;
    }
    .lista-ol li:hover, .lista-ol-img li:hover{
        background: #eee;
    }   
    .lista-ol li:before{
        content: counter(li);
        counter-increment: li;
        position: absolute; 
        left: -2.5em;
        top: 50%;
        margin-top: -1em;
        border: 1px solid #ff9800;
        height: 2em;
        width: 2em;
        line-height: 2em;
        text-align: center;
        font-weight: bold;
    }
    .lista-ol li:after, .lista-ol-img li:after{
        position: absolute; 
        content: '';
        border: .5em solid transparent;
        left: -1em;
        top: 50%;
        margin-top: -.5em;
        transition: all .3s ease-out;               
    }
    .lista-ol li:hover:after, .lista-ol-img li:hover:after{
        left: -.5em;
        border-left-color: #ff9800;
    }
    .lista-ol-img li img{
        position: absolute; 
        left: -3.5em;
        top:50%;
        margin-top: -1.7em;
    }
/* --------------------FIN listas ol con efectos ------------*/

/* --------------------INICIO  efecto de radio button orange------------*/
    .radio-orange [type="radio"]:checked+label:after {
        border-color: #FF8800;
        background-color: #FF8800;
    }
    .radio-orange-gap [type="radio"].with-gap:checked+label:before {
        border-color: #FF8800;
    }
    .radio-orange-gap [type="radio"]:checked+label:after {
        border-color: #FF8800;
        background-color: #FF8800;
    }  
/* --------------------FIN  efecto de radio button orange------------*/

/* --------------------INICIO  efecto de radio button green------------*/
    .radio-green [type="radio"]:checked+label:after {
        border-color: #bd2130;
        background-color: #bd2130;
    }
    .radio-green-gap [type="radio"].with-gap:checked+label:before {
        border-color: #bd2130;
    }

    .radio-green-gap [type="radio"]:checked+label:after {
        border-color: #bd2130;
        background-color: #bd2130;
    } 
/* --------------------FIN  efecto de radio button green------------*/


/*---------------------INICIO algunos estilso W33-------------*/
    .w3-container{padding:0.01em 16px}
    .w3-container:after,.w3-container:before{content:"";display:table;clear:both}
    .w3-text-green{color:#bd2130!important; margin: 0;font-size: 14px;}
    .w3-input{padding:6px;display:block;border:none;border-bottom:1px solid #ccc;width:100%;}
    .w3-container p{
        margin: 2px;
    }
    .w3-border{border:1px solid #ccc!important}
    .w3-green{color:#fff!important;background-color:#bd2130!important}
    .w3-btn{border:none;display:inline-block;padding:8px 16px;vertical-align:middle;overflow:hidden;text-decoration:none;color:inherit;background-color:inherit;text-align:center;cursor:pointer;white-space:nowrap}
    .w3-btn:hover{box-shadow:0 8px 16px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19)}
    .w3-btn{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}
/*---------------------FIN algunos estilso W33-------------*/




 /*themes.css*/
    .ui-checkbox,
  .ui-radio {
    position: relative;
    display: block;
  }
  .ui-checkbox label.ui-checkbox-inline,
  .ui-radio label.ui-checkbox-inline {
    margin-right: 8px;
  }
  .ui-checkbox label,
  .ui-radio label {
    font-weight: normal;
    cursor: pointer;
    margin-bottom: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: static;
  }
  .ui-checkbox label > input,
  .ui-radio label > input {
    cursor: pointer;
    display: none;
    margin-left: -15px;
  }
  .ui-checkbox label > input[disabled] + span,
  .ui-checkbox label > input[readonly] + span,
  .ui-radio label > input[disabled] + span,
  .ui-radio label > input[readonly] + span,{
    opacity: .6;
    cursor: not-allowed;
  }
  .ui-checkbox label > span,
  .ui-radio label > span {
    position: relative;
    padding-left: 28px;
    padding-top: 2.5px;
  }
  .ui-checkbox label > span:before,
  .ui-checkbox label > span:after,
  .ui-radio label > span:before,
  .ui-radio label > span:after {
    position: absolute;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
  }
  .ui-checkbox label > span:before,
  .ui-radio label > span:before {
    content: "";
    width: 20px;
    height: 20px;
    left: 0;
    border: 2px solid #066ca7;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
  }
  .ui-checkbox label > input:checked + span:after,
  .ui-radio label > input:checked + span:after {
    content: "\f00c";
    /*content: "\f00d";*/

    font-family: 'FontAwesome';
    left: 5px;
    top: 2px;
    font-size: 12px;
    color: #6a6a6a;

  }
  .ui-checkbox.ui-checkbox-circle label > span:before,
  .ui-radio.ui-checkbox-circle label > span:before{
    border-radius: 100%;
    top: 2px !important;
  }
  .ui-checkbox.ui-checkbox-circle label > span:after,
  .ui-radio.ui-checkbox-circle label > span:after {
    top: 3.5px !important;
    left: 5.3px !important;
  }
  .ui-checkbox + .ui-checkbox,
  .ui-radio + .ui-radio,
  .ui-radio + .ui-radio {
    margin-top: -5px;
  }
  .ui-radio label > span:before{
    border-radius: 100%;
    top: 1px;
  }
  .ui-radio label > input:checked + span:after{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    top: 6px;
    left: 5px;
    background: #066ca7;
  }

  .ui-checkbox-danger label > input:checked + span:after,
  .ui-radio-danger label > input:checked + span:after,
  .ui-checkbox-danger label > input:checked + i:after,
  .ui-radio-danger label > input:checked + i:after {
    color: #ffffff;
  }
  .ui-checkbox-danger label > input:checked + span:before,
  .ui-radio-danger label > input:checked + span:before,
  .ui-checkbox-danger label > input:checked + i:before,
  .ui-radio-danger label > input:checked + i:before {
    background-color: #c30505;
    border: 1px solid #c30505;
  }
  .ui-checkbox-event label > input:checked + span:after,
  .ui-radio-event label > input:checked + span:after,
  .ui-checkbox-event label > input:checked + i:after,
  .ui-radio-event label > input:checked + i:after {
    color: #ffffff;
  }
  .ui-checkbox-event label > input:checked + span:before,
  .ui-radio-event label > input:checked + span:before,
  .ui-checkbox-event label > input:checked + i:before,
  .ui-radio-event label > input:checked + i:before {
      /*content: '\2714';*/
    background-color: #066ca7;
    border: 1px solid #066ca7;
  }
  .ui-radio-event label > input:checked + span:after{
    background-color: #fff;
  }



    .ui-checkbox-cole-active label > input:checked + span:after,
  .ui-radio-cole-active label > input:checked + span:after,
  .ui-checkbox-cole-active label > input:checked + i:after,
  .ui-radio-cole-active label > input:checked + i:after {
    color: #ffffff;
  }
  .ui-checkbox-cole-active label > input:checked + span:before,
  .ui-radio-cole-active label > input:checked + span:before,
  .ui-checkbox-cole-active label > input:checked + i:before,
  .ui-radio-cole-active label > input:checked + i:before {
    background-color: #37454d;
    border: 1px solid #37454d;
  }
  .ui-checkbox-cole label > input:checked + span:after,
  .ui-radio-cole label > input:checked + span:after,
  .ui-checkbox-cole label > input:checked + i:after,
  .ui-radio-cole label > input:checked + i:after {
    color: #ffffff;
  }
  .ui-checkbox-cole label > input:checked + span:before,
  .ui-radio-cole label > input:checked + span:before,
  .ui-checkbox-cole label > input:checked + i:before,
  .ui-radio-cole label > input:checked + i:before {
      /*content: '\2714';*/
    background-color: #637c8a;
    border: 1px solid #637c8a;
  }
  /*themes.css*/



      .ui-timesbox,
  .ui-timesradio {
    position: relative;
    display: block;
  }
  .ui-timesbox label.ui-timesbox-inline,
  .ui-timesradio label.ui-timesbox-inline {
    margin-right: 8px;
  }
  .ui-timesbox label,
  .ui-timesradio label {
    font-weight: normal;
    cursor: pointer;
    margin-bottom: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: static;
  }
  .ui-timesbox label > input,
  .ui-timesradio label > input {
    cursor: pointer;
    display: none;
    margin-left: -15px;
  }
  .ui-timesbox label > input[disabled] + span,
  .ui-timesbox label > input[readonly] + span,
  .ui-timesradio label > input[disabled] + span,
  .ui-timesradio label > input[readonly] + span,{
    opacity: .6;
    cursor: not-allowed;
  }
  .ui-timesbox label > span,
  .ui-timesradio label > span {
    position: relative;
    padding-left: 28px;
    padding-top: 2.5px;
  }
  .ui-timesbox label > span:before,
  .ui-timesbox label > span:after,
  .ui-timesradio label > span:before,
  .ui-timesradio label > span:after {
    position: absolute;
    -webkit-transition: 0.25s;
    -o-transition: 0.25s;
    transition: 0.25s;
  }
  .ui-timesbox label > span:before,
  .ui-timesradio label > span:before {
    content: "";
    width: 20px;
    height: 20px;
    left: 0;
    border: 2px solid #c30505;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
  }
  .ui-timesbox label > input:checked + span:after,
  .ui-timesradio label > input:checked + span:after {
    content: "\f00d";
    font-family: 'FontAwesome';
    left: 5px;
    top: 2px;
    font-size: 12px;
    color: #6a6a6a;

  }
  .ui-timesbox.ui-timesbox-circle label > span:before,
  .ui-timesradio.ui-timesbox-circle label > span:before{
    border-radius: 100%;
    top: 2px !important;
  }
  .ui-timesbox.ui-timesbox-circle label > span:after,
  .ui-timesradio.ui-timesbox-circle label > span:after {
    top: 3.5px !important;
    left: 5.3px !important;
  }
  .ui-timesbox + .ui-timesbox,
  .ui-timesradio + .ui-timesradio,
  .ui-timesradio + .ui-timesradio {
    margin-top: -5px;
  }
  .ui-timesradio label > span:before{
    border-radius: 100%;
    top: 1px;
  }
  .ui-timesradio label > input:checked + span:after{
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 100%;
    top: 6px;
    left: 5px;
    background: #6a6a6a;
  }

  .ui-timesbox-danger label > input:checked + span:after,
  .ui-timesradio-danger label > input:checked + span:after,
  .ui-timesbox-danger label > input:checked + i:after,
  .ui-timesradio-danger label > input:checked + i:after {
    color: #ffffff;
  }
  .ui-timesbox-danger label > input:checked + span:before,
  .ui-timesradio-danger label > input:checked + span:before,
  .ui-timesbox-danger label > input:checked + i:before,
  .ui-timesradio-danger label > input:checked + i:before {
    background-color: #c30505;
    border: 1px solid #c30505;
  }
  .ui-timesbox-event label > input:checked + span:after,
  .ui-timesradio-event label > input:checked + span:after,
  .ui-timesbox-event label > input:checked + i:after,
  .ui-timesradio-event label > input:checked + i:after {
    color: #ffffff;
  }
  .ui-timesbox-event label > input:checked + span:before,
  .ui-timesradio-event label > input:checked + span:before,
  .ui-timesbox-event label > input:checked + i:before,
  .ui-timesradio-event label > input:checked + i:before {
      /*content: '\2714';*/
    background-color: #066ca7;
    border: 1px solid #066ca7;
  }
  .ui-timesradio-event label > input:checked + span:after{
    background-color: #fff;
  }



    .ui-timesbox-cole-active label > input:checked + span:after,
  .ui-timesradio-cole-active label > input:checked + span:after,
  .ui-timesbox-cole-active label > input:checked + i:after,
  .ui-timesradio-cole-active label > input:checked + i:after {
    color: #ffffff;
  }
  .ui-timesbox-cole-active label > input:checked + span:before,
  .ui-timesradio-cole-active label > input:checked + span:before,
  .ui-timesbox-cole-active label > input:checked + i:before,
  .ui-timesradio-cole-active label > input:checked + i:before {
    background-color: #37454d;
    border: 1px solid #37454d;
  }
  .ui-timesbox-cole label > input:checked + span:after,
  .ui-timesradio-cole label > input:checked + span:after,
  .ui-timesbox-cole label > input:checked + i:after,
  .ui-timesradio-cole label > input:checked + i:after {
    color: #ffffff;
  }
  .ui-timesbox-cole label > input:checked + span:before,
  .ui-timesradio-cole label > input:checked + span:before,
  .ui-timesbox-cole label > input:checked + i:before,
  .ui-timesradio-cole label > input:checked + i:before {
      /*content: '\2714';*/
    background-color: #637c8a;
    border: 1px solid #637c8a;
  }



  /*fomrulrio evnetos*/
    .example input[type=text] {
      padding: 10px;
      border: 1px solid grey;
      float: left;
      width: 90%;
  }
  .example button {
      float: left;
      width: 10%;
      padding: 9px;
      background: #637c8a;
      color: white;
      font-size: 17px;
      border: 1px solid #637c8a;
      cursor: pointer;
  }
  .example span {
      float: left;
      width: 10%;
      padding: 10px;
      text-align: center;
      font-size: 17px;
      border: 1px solid #637c8a;
      border-left: none;
      background: white;
      color: black;
  }

  .example button:hover {
      background: #637c8a;
      border: 1px solid #637c8a;
  }
  .example{
    padding: 10px;
    border-bottom: 2px solid #637c8a;
  }
  .example::after {
      content: "";
      clear: both;
      display: table;
  }
  /*formulario evnetos*/


  .tr-selected{
    background: white; 
    color:#637c8a;
  }
/*input form*/

.w3-input{padding:8px;display:block;border:none;border-bottom:1px solid #637c8a;width:100%}
.w3-input-x1{padding:4px;display:block;border:none;border-bottom:1px solid #637c8a;width:100%}
.w3-text-blue-x1{font-size: 14px;}
.w3-border{border:1px solid #637c8a!important}
.w3-select{padding:9px 0;width:100%;border:none;border-bottom:1px solid #ccc}
.w3-select-x1{padding:4px 0;width:100%;border:none;border-bottom:1px solid #ccc}

.w3-check,.w3-radio{width:24px;height:24px;}
.no-margin{
  margin: 0;
}
.w3-border-error{border: 1.6px solid #ab0505!important; box-shadow: 1px 1px #ab0505;}
/*input form*/

/*botones*/

.button-4 {
    border: none;
    padding: 10px 27px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.button-4 svg{
    color: #fff;
}
.button-4 span{
    color: #fff;
}
.button-cole {
    border: none;
    color: white;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 2px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.buttonshadow {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}
.button-4-border{
  border: 2px solid #880e4f;
  color: #880e4f;
  background: white;
  padding: 10px 27px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.btn-file {
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
  .blue-bottom{
    background-color: #637c8a;
  }
  .blue-bottom:hover{
    background-color: #37454d;
    color: white;
  }
  .blue-bottom-active{
    background-color: #37454d;
    color: white;
  }
/*botones*/

/*imagen*/
      .image-upload > input {
          visibility:hidden;
          width:0;
          font-size: 10px;
          height:0;
          position: absolute; 
          left:-10px;

        }
      .image-upload {
        display: flex;
        flex-wrap: wrap;
        border:1px dashed #637c8a;
        margin-top: 10px;
      } 
      .image-upload > label{
        margin: auto;
      }
      .times-x{
        color: #637c8a; 
        position: absolute;
        background: transparent;
        border: none;
        right: 0;
        padding: 0 4px;
        transition: all 0.5s;
      }
      .times-x:hover{
        cursor: pointer;
        background: #c30505;
        color: #fff;
        border: 1px solid #fff;
      }

/*imagen*/